body{
    margin: 0;
    padding-top: 800px;
    text-align: center;
}

.profile{
    border-radius: 50%;
}

#welcome{
    position: absolute;
    bottom: 0;
    background-color: blue;
    width: 100%;
    height:100%;
}

h1{
    font-size: 30px;
    font-family:'Special Elite', cursive;;
}

h4{
    font-size: 10px;
    font-family: monospace;
}

#bio{
    font-family: cursive;
    padding: 50px;
}

.menu{  
    list-style: none;
    position: absolute;
    top: 10px;
    right: 30px;
    z-index: 10;
    cursor: pointer;
}

.links{
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 9px;
    padding-right: 9px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
}

.contact_1 h3{
    display: inline;
}